<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
</head>
<body>
    <div class="container-fluid px-4 mt-4">
        <h2 class="text-center text-success mb-4">Resultados</h2>
        
        <div class="d-flex mb-3" id="navbar">
            <button id="download" class="btn btn-primary me-2">Descargar Archivo</button>
            <button id="addRow" class="btn btn-success">Agregar Fila</button>
            
            <div class="ms-2 d-flex justify-content-lg-between align-items-center">
                <label class="m-2">Plantilla</label>
                <select id="select-layout" class="p-1 form-select">
                    <option value="General">General</option>
                    <option value="Seguimiento">Seguimiento solicitudes</option>
                    <option value="Cronogramas">Cronogramas</option>
                    <option value="Requisitos">Requisitos y aprobaciones</option>
                </select>
                
                <label class='m-2'>Semáforo</label>
                <select id="filtro-semaforo" class="p-1 form-select">
                    <option value="todos">Todos los semáforos</option>
                    <option value="verde">Verde</option>
                    <option value="naranja">Naranja</option>
                    <option value="rojo">Rojo</option>
                </select>
            </div>
            <button class="btn btn-primary" id="upload_file">Subir Archivo</button>
        </div>

        <div class="table-responsive">
            <table class="table data" id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th> <!-- 1 -->
                        <th>Solicitante</th> <!-- 2 -->
                        <th>WO</th> <!-- 3 -->
                        <th>REQ</th> <!-- 4 -->
                        <th>Fecha de creación</th> <!-- 5 -->
                        <th>Fecha Ultima Nota</th> <!-- 6 -->
                        <th>Descripción</th> <!-- 7 -->
                        <th>Detalle Ultima Nota</th> <!-- 8 -->
                        <th>Aplicación</th> <!-- 9 -->
                        <th>Estado</th> <!-- 10 -->
                        <th>Observaciones UT</th> <!-- 11 -->
                        <th>Entrega Alcance</th> <!-- 12 -->
                        <th>Fecha pruebas con SMM</th> <!-- 13 -->
                        <th>Fecha puesta en producción</th> <!-- 14 -->
                        <th>Observaciones</th> <!-- 15 -->
                        <th>Firmado</th> <!-- 16 -->
                        <th>Semáforo</th> <!-- 17 -->
                        <th>Acción</th> <!-- 18 -->
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in datos %}
                    <tr id="table-row">
                        <td>{{ ticket.id }}</td>
                        <td>
                            <select class="form-select">
                                <option value="" {% if ticket.solicitante_rel is none or ticket.solicitante_rel.nombre == '' %}selected{% endif %}></option>
                                <option value="ESI" {% if ticket.solicitante_rel and ticket.solicitante_rel.nombre == 'ESI' %}selected{% endif %}>ESI</option>
                                <option value="SIMM" {% if ticket.solicitante_rel and ticket.solicitante_rel.nombre == 'SIMM' %}selected{% endif %}>SIMM</option>
                                <option value="SMM" {% if ticket.solicitante_rel and ticket.solicitante_rel.nombre == 'SMM' %}selected{% endif %}>SMM</option>
                            </select>
                        </td>
                        
                        <td><input type="text" class="form-control" value="{{ ticket.wo }}" readonly></td>
                        <td><input type="text" class="form-control" value="{{ ticket.req }}" readonly></td>
                        <td><input type="date" class="form-control" value="{{ ticket.fecha_creacion.strftime('%Y-%m-%d') }}"></td>
                        <td><input type="date" class="form-control" value="{{ ticket.fecha_ultima_nota.strftime('%Y-%m-%d') }}"></td>
                        <td><input type="text" class="form-control description" value="{{ ticket.descripcion }}"></td>
                        <td><input type="text" class="form-control detail" value="{{ ticket.detalle_ultima_nota }}"></td>
                        <td><input type="text" class="form-control" value="{{ ticket.aplicacion }}"></td>
                        <td><input type="text" class="form-control" id="estado" value="{{ ticket.estado_rel }}"></td>
                        <td><input type="text" class="form-control observations" value="{{ ticket.observaciones_ut }}"></td>
                        <td><input type="date" class="form-control" value="{{ ticket.entrega_alcance.strftime('%Y-%m-%d') if ticket.entrega_alcance else '' }}"></td>
                        <td><input type="date" class="form-control" value="{{ ticket.pruebas_simm.strftime('%Y-%m-%d') if ticket.pruebas_simm else '' }}"></td>
                        <td><input type="date" class="form-control" value="{{ ticket.puesta_produccion.strftime('%Y-%m-%d') if ticket.puesta_produccion else '' }}"></td>
                        <td>
                            <select class="form-select">
                                <option value="" {% if ticket.observaciones == '' %}selected{% endif %}></option>
                                <option value="Si" {% if ticket.observaciones == 'Si' %}selected{% endif %}>Si</option>
                                <option value="No" {% if ticket.observaciones == 'No' %}selected{% endif %}>No</option>
                                <option value="No Aplica" {% if ticket.observaciones == 'No Aplica' %}selected{% endif %}>N/A</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select">
                                <option value="" {% if not ticket.firmado or ticket.firmado.rel in ['', None] %}selected{% endif %}></option>
                                <option value="Firmado SMM" {% if ticket.firmado_rel and ticket.firmado_rel.nombre == 'Firmado SMM' %}selected{% endif %}>Firmado SMM</option>
                                <option value="Pendiente SMM" {% if ticket.firmado_rel and ticket.firmado_rel.nombre == 'Pendiente SMM' %}selected{% endif %}>Pendiente SMM</option>
                                <option value="Pendiente SITTI" {% if ticket.firmado_rel and ticket.firmado_rel.nombre == 'Pendiente SITTI' %}selected{% endif %}>Pendiente SITTI</option>
                                <option value="No Aplica" {% if ticket.firmado_rel and ticket.firmado_rel.nombre == 'No Aplica' %}selected{% endif %}>N/A</option>
                            </select>
                        </td>
                        <input type="hidden" class="fecha-firmado" value="{{ ticket.fecha_firmado.strftime('%Y-%m-%d') if ticket.fecha_firmado else '' }}">
                        

                        <td data-semaforo="{{ ticket.semaforo_rel or 'rojo' }}">
                            {{ ticket.semaforo_rel or 'rojo' }}
                        </td>
                        <td><button class="btn btn-danger btn-sm removeRow">Eliminar</button></td>      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='./js/results.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/upload_file.js') }}"></script>
</body>
</html>